Lament about serde

This is a kind of meta-issue about the problems I found when working with `serde`. It's not urgent, but we should find ways to improve the situation. It is also specific to us (I think), and not really applicable to `decisions`, because we are the only ones to deal with different serialisation formats.

## The Good

`serde` is ubiquitous in Rust. Many times, it is really convenient to use, as all that's needed is to slap a `#[derive]` and possibly some field attributes. Also, a lot of crates come with `serde` impls (behind a feature or not), so there is really not much to think about. 

## The Bad

When you _do_ have to write your own `Serialize`/`Deserialize` (because of coherence or whatever), things get rather convoluted. But you know, it's Rust, get over it.

## The Ugly

The problem with `serde` is that it tries to abstract over _any_ serialisation format, and that is inevitably leaky. The concrete issues I found are:

* There is no obvious way to define `Serialize`/`Deserialize` in a way that _makes sense_ for more than one format. Case in point is #89: JSON doesn't like binary data, so one typically stores base64-encoded strings. CBOR, otoh, **does** like binary data. CBOR tags (useful e.g. for bignums and datetimes) currently require a newtype.
* The data model basically exposes _strings_ to denote constructors, fields, and enum variants. That's how JSON works, but not very compact. In fact, our CBOR wire types carry _more_ metadata than payload. Since there is apparently no way to annotate or otherwise infer field indices, the method to use those as per [RFC 7049, Section 3.7](https://tools.ietf.org/html/rfc7049#section-3.7) is not supported by the available library. This is also the reason there is no `serde` backend for protocol buffers.
* There does not seem to be any form of streaming parsing, e.g. for CBOR indefinite length arrays 
* There does not seem to be a way to generate IDL documents (swagger or whatever) from annotated types, which I find a bit surprising. There's two crates promising to allow [CDDL](https://tools.ietf.org/html/rfc8610) parsing and validation, but not sure how well they work.

## What now?

Treating `serde` as an object-to-JSON-mapper is probably fine for now. I'd expect the amount of handwritten impls to grow over time anyways, but auto deriving is very convenient for now. The CBOR story is very sad imho. I'd be leaning towards [minicbor](https://crates.io/crates/minicbor) for the wire types, although that comes at a lot of handwritten definitions and still doesn't solve the IDL problem (although perhaps not that important there).

> When you do have to write your own Serialize/Deserialize (because of coherence or whatever), things get rather convoluted. But you know, it's Rust, get over it.

I'd appreciate an example of this if we have one, or maybe you could walk us through some code showing off the pain points.

> The data model basically exposes strings to denote constructors, fields, and enum variants.

I did a quick look on docs.rs and found this package: https://docs.rs/serde-indexed/0.0.4/serde_indexed/. Maybe it'd be useful for this pain point, or at least inspire us to find something better.

This could be a silly question, _but_, would we consider using protobuf? It has the compact binary encoding, RPCs for talking over the wire, and I'm pretty sure I've seen tools for generating docs including the comments you put in your `.proto` files. I'm definitely not trying to open a can-of-worms here but checking if wanted to consider it given the above requirements :)

> I'd appreciate an example

Well, about every line of `serde` stuff I wrote :D

* Look at `serde_helpers` -- I figured to use the function-delegation method instead of newtyping or other stunts. But now I have to write an extra function for monomorphic `Option`.
* There is this kind of monstrous [`Visitor`](https://docs.serde.rs/serde/de/trait.Visitor.html) trait, and it's not so clear when to incur this extra boilerplate -- until you realise that you can't write `str::deserialize(deserializer).map(MyType::from_str)`.
* Also [here](https://github.com/radicle-dev/radicle-link/blob/master/librad/src/hash.rs#L64) -- laws, anyone?

>  https://docs.rs/serde-indexed/0.0.4/serde_indexed

Hm interesting. It's not doing exactly what we'd want, because it yields an error when an unknown index is encountered during deserialisation, and there doesn't seem a way to specify the exact index on a field. But yeah, if someone wants to flex their macro muscle, maybe we could come up with something :)

> would we consider using protobuf?

Yeah good point. I did look around after I discovered the issues with `serde_cbor`, and came across [prost](https://crates.io/crates/prost) which seems quite nice (and also the name!). I would still prefer CBOR if at all possible, because of its richer data model -- protobufs don't have unions, maps, sets, and it's rather painful to work with generic types in the host language (that is, you end up defining "domain types" which get converted to "protobuf types", which get serialised to the wire format). There's also [FlatBuffers](http://google.github.io/flatbuffers) and [Cap'n Proto](https://capnproto.org), which are nice and efficient (inifinitely faster!), but come with a lot of machinery.
